[Unit]
Description=Borgweb
AssertPathExists={{ borg_virtual_env }}
Wants=borgweb.service
Before=borgweb.service

[Service]
Type=simple
Environment = "BORGWEB_CONFIG={{ borgweb_config_file }}"
ExecStart={{ borg_virtual_env }}/bin/borgweb
Restart=always

[Install]
WantedBy=multi-user.target
